{% extends '::base.html.twig' %}


{% block body %}
{% javascripts %}

{% endjavascripts %}


{% if records is defined%}
    {%for record in records%}
<p>{{record.id}}, {{record.billTemplate}}, due on {{record.due|date("m/d/Y")}}
    <a href="{{path('edit_bill', {'id':record.id})}}">edit</a>
    <a href="{{path('delete_bill', {'id':record.id})}}">delete</a>
</p>
    {%endfor%}
{% endif %}
                <script src="/js/dojo/dojo.js" data-dojo-config="async: true, baseURL: /js/"></script>
                
                <script>
                    require(["dgrid/Grid", "dojo/store/JsonRest" , "dojo/domReady!"], function(Grid,JsonRest){
                        var grid = new Grid({ /* options here */ }, "grid");
                        var store = new JsonRest({
                        target: "/bills/grid/current/"
                      });

                      // Get an object by identity
                      store.get(221).then(function(item){
                        // item will be the DB item
                      });    
                    });
                      
                    </script>
                  
                  
                  <div id="grid"></div>
{%endblock%}